%h1 confirm
= render partial: "wizard_steps"

= simple_form_for @campaign do |f|

  %h3 Next steps:

  %ul
    %li= link_to "preview", preview_campaign_path(@campaign)
    %li test
    %li send
    %li view reports
    %li

  = f.submit


= render partial: "wizard_nav"
