= link_to "new campaign" , new_campaign_path, class: "btn btn-default pull-right"

%h1.page-header Campaigns


.row.placeholders
  - @campaigns.each do |campaign|

    .media
      .media-left
        = link_to campaign.subject || campaign.id, campaign_path(campaign)
      .media-body
        %h4.media-heading

        = campaign.state
      .media-right

        = link_to "edit", campaign_wizard_path(campaign, "setup")

        = link_to "destroy", campaign_path(campaign), method: :delete



