!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Chaskiq
    / Include style per-controller - vendor plugins
    -#= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
    / Main css styles
    = stylesheet_link_tag    'chaskiq/application', media: 'all', 'data-turbolinks-track' => true
    / Main javascript files
    = javascript_include_tag 'chaskiq/application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"

    = csrf_meta_tags
  %body.gray-bg

    = render 'layouts/chaskiq/topnavbar'

    / /cont
    .container
      .row
        = yield

    #footer.container
      .row
        .col.col-sm-12

    %footer
      .container
        .row
          = render 'layouts/chaskiq/footer'

    = render "shared/modal"

    = yield :javascript
    = yield :charts_js

    -#
      #wrapper{:class => "#{params[:controller]}.#{params[:action]}"}
        / Navigation
        = render 'layouts/chaskiq/navigation'
        / Page wraper
        #page-wrapper{:class => "gray-bg #{@extra_class}"}
          / Page wrapper
          = render 'layouts/chaskiq/topnavbar'
          / Main view
          = yield
          / Footer
          = render 'layouts/chaskiq/footer'

      = render "shared/modal"

      = yield :javascript
      = yield :charts_js


