
.btn-group.btn-group-justified{"aria-label" => "...", :role => "group"}
  - wizard_steps.each_with_index do |wizard_step, index|
    .btn-group{ class: "#{ step == wizard_step ? 'active' : '' }"}
      = link_to wizard_path(wizard_step), class: "btn btn-#{ step == wizard_step ? 'info' : 'white' }" do
        = t(".#{wizard_step}")

%hr