= render "menu"

.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 Confirm
          .ibox-tools
            %a.btn.btn-primary.btn-xs{:href => new_manage_campaign_path }
              Create new Template
        .ibox-content


          = render partial: "wizard_steps"
          .col-lg-12
            = link_to "preview", preview_manage_campaign_path(@campaign), class: "btn btn-w-m btn-white"

            = link_to "test", test_manage_campaign_path(@campaign), class: "btn btn-w-m btn-white"

            = link_to "send", deliver_manage_campaign_path(@campaign), class: "btn btn-w-m btn-white"

            = link_to " view reports", "#", class: "btn btn-w-m btn-white"

          .clearfix

          = render partial: "wizard_nav"
