= render "menu"


.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 Choose template
          .ibox-tools
            %a.btn.btn-success.btn-xs{:href => new_manage_campaign_path }
              Create new Template
        .ibox-content


          = render partial: "wizard_steps"


          = simple_form_for @campaign, url: wizard_path do |f|

            = f.input :template_id , as: :select, collection: Chaskiq::Template.all

            = f.submit

          = render partial: "wizard_nav"
