.float-right
  %a.btn.btn-success.btn-xs{:href => new_manage_list_path }
    %i.fa.fa-plus
    Create new List

.page-header
  %h1 Manage Lists

.card
  .card-header
    .card-title
      All Lists

    .card-options
      = search_form_for @q, url: manage_lists_path() do |f|

        = f.search_field :subscribers_name_or_subscribers_email_or_subscribers_last_name_or_name_cont, class: "input-sm form-control", placeholder: "Search by subscribers or list name"


  .card-body

    .table-responsive
      %table.table.card-table.table-vcenter.text-nowrap

        %thead
          %tr
            %th Name
            %th Aubscribers
            %th.text-center Actions

        %tbody
          - @lists.each do |list|
            %tr

              %td
                %a{:href => manage_list_path(list)}
                  = list.name
                %br/
                %small= l list.created_at, format: :short

              %td.text-center
                = list.subscribers.size
              %td.text-center

                = link_to edit_manage_list_path(list), class: "btn btn-secondary" do
                  %i.fa.fa-edit
                  Edit

                &nbsp

                = link_to manage_list_path(list), class: "btn btn-danger", data:{ method: :delete, confirm: "sure?"} do
                  %i.fa.fa-times
                  Destroy

= paginate @lists