
= render "menu"

.wrapper.wrapper-content.animated.fadeInRight
  .col-lg-12
    .ibox.float-e-margins
      .ibox-title
        %h5 Subscribers of "#{@list.name}" list

      .ibox-content
        %table.table
          %thead
            %tr
              %th #
              %th State
              %th Email
              %th First Name
              %th Last Name
          %tbody
            - @subscribers.each do |sub|
              %tr
                %th{:scope => "row"}
                  = sub.id
                %th
                  %span.label{class: sub.style_class}
                    %i.fa.fa-check
                    = sub.state
                %td=sub.email
                %td=sub.name
                %td=sub.last_name

  .pagination
    = paginate @subscribers