
.row
  .col-sm-4
    %h1 Welcome To Chaskiq
    %small You have #{@campaigns_count} campaigns and #{@sends_count} sended messages.
    %ul.list-group
      - Chaskiq::Campaign.order('updated_at desc').limit(3).each do |c|
        %li.list-group-item
          %span.pull-right
            = l(c.updated_at, format: :short)
          %span.label.label-success
            %i.fa.fa-paper-plane
            = c.metrics.deliveries.size
          = c.name
    .clearfix

  .col-sm-8
    .flot-chart.dashboard-chart
      -##flot-dashboard-chart.flot-chart-content
      = column_chart( @daily_metrics, height: "200px", width: "500px",  format: "%l %P")


.row
  .col-lg-12
    .wrapper.wrapper-content
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
              %h5 Latests Campaigns
              -#%span.label.label-primary CHASKIQ

            .ibox-content
              - Chaskiq::Campaign.order("updated_at desc").limit(5).each do |c|
                %div
                  .pull-right.text-right
                    .label.label-primary
                      %i.fa.fa-paper-plane
                      = c.metrics.deliveries.size

                    %span.bar_dashboard
                      = c.sparklines_by_day().join(", ")

                  %h4
                    = c.name
                    %br/
                    %small.m-r
                      %a{:href => manage_campaign_path(c)} view campaign
                %hr

- content_for :javascript do
  :javascript
    $(function() {

        $(".bar_dashboard").peity("bar", {
            fill: ["#1ab394", "#d7d7d7"],
            width: 100
        })

        $("#sparkline8").sparkline(#{@daily_metrics.map{|o|o.to_a.last}.to_json}, {
            type: 'bar',
            barWidth: 8,
            height: '150px',
            barColor: '#1ab394',
            negBarColor: '#c6c6c6'
        });

        $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
            data1, data2
        ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#464f88"],
                    xaxis: {
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
        );

    });
