.middle-box.text-center.loginscreen
  %div
    %div
      .logo-name
        = image_tag @campaign.logo.url, with: 200

    %h3= @campaign.name
    %p
      = @campaign.try(:tagline)

    %p Suscribete a nuestro newsletter

    = @campaign.description
    %p
      = render "shared/flashes"

    %p.m-t
      %small
        = link_to "subscribe", new_campaign_subscriber_path(@campaign)

