.dropdown
  %button.btn.btn-secondary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    %i.fa.fa-cog.mr-2>
    Show actions

  .dropdown-menu

    = link_to manage_campaign_wizard_path(campaign, "setup"), class: "dropdown-item" do
      %i.fa.fa-edit
      Setup

    = link_to preview_manage_campaign_path(campaign), class: "dropdown-item" , target: "blank" do
      %i.fa.fa-eye
      Preview

    = link_to test_manage_campaign_path(campaign), class: "dropdown-item" do
      %i.fa.fa-heartbeat
      Test

    = link_to deliver_manage_campaign_path(campaign), data: { confirm: "Are you sure?", turbolinks: "false" }, class: "dropdown-item" do
      %i.fa.fa-paper-plane
      Send

    = link_to clone_manage_campaign_path(campaign), data: { confirm: "Are you sure?", turbolinks:"false" }, class: "dropdown-item" do
      %i.fa.fa-copy
      clone

    = link_to purge_manage_campaign_path(campaign), data: { confirm: "Are you sure?", turbolinks: "false" }, class: "dropdown-item" do
      %i.fa.fa-trash
      purge metrics