
.float-right
  %a.btn.btn-success.btn-xs{:href => new_manage_campaign_path }
    %i.fa.fa-plus
    Create new Campaigns

.page-header
  %h1 Campaigns list


.row.row-cards

  .card
    .card-header

      All Campaigns

      %div.col-lg-3.ml-auto
        = search_form_for @q, url: manage_campaigns_path() do |f|
          = f.search_field :subscribers_name_or_subscribers_email_or_subscribers_last_name_or_subject_or_from_name_or_from_email_or_reply_email_or_plain_content_or_name_or_state_cont, class: "input-sm form-control", placeholder: "Search by subscribers or campaign data"

    .card-body
      .table-responsive    
        %table.table.card-table.table-vcenter.text-nowrap
          %thead
            %tr
              %th Campaign
              %th Completion
              %th.text-center Actions
              %th.text-center More actions

          %tbody
            - @campaigns.uniq.each do |campaign|
              %tr

                %td
                  %div
                    %a{:href => manage_campaign_path(campaign)}
                      = campaign.name.try(:upcase)
                  
                  .small.text-muted
                    = l campaign.created_at, format: :short

                %td
                  %small Completion with: #{number_to_percentage(campaign.delivery_progress, precision: 0)}
                  .progress.progress-mini
                    .progress-bar.progress-bar-custom{:style => "width: #{campaign.delivery_progress}%;"}

                %td.text-center
                  = render "actions", campaign: campaign

                %td.text-center
                  = render "config_actions", campaign: campaign

    .card-footer
    
  = paginate(@campaigns)

