

.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    %h2 Campaigns list
    %ol.breadcrumb
      %li
        %a{:href => ""} Home
      %li.active
        %strong Campaigns list
.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 All Campaigns
          .ibox-tools
            %a.btn.btn-primary.btn-xs{:href => new_manage_campaign_path }
              %i.fa.fa-plus
              Create new Campaigns
        .ibox-content
          .row.m-b-sm.m-t-sm
            .col-md-1
              %button#loading-example-btn.btn.btn-white.btn-sm{:type => "button"}
                %i.fa.fa-refresh
                Refresh
            .col-md-11
              .input-group
                %input.input-sm.form-control{:placeholder => "Search", :type => "text"}/
                %span.input-group-btn
                  %button.btn.btn-sm.btn-primary{:type => "button"} Go!
          .project-list
            %table.table.table-hover
              %tbody
                - @campaigns.each do |campaign|
                  %tr
                  %td.project-status
                    %span.label.label-primary
                      = campaign.state
                  %td.project-title
                    %a{:href => manage_campaign_path(campaign)}
                      = campaign.name
                    %br/
                    %small= campaign.created_at
                  %td.project-completion
                    %small Completion with: #{number_to_percentage(campaign.delivery_progress, precision: 0)}
                    .progress.progress-mini
                      .progress-bar{:style => "width: #{campaign.delivery_progress}%;"}

                  %td.project-actions

                    .btn-group
                      %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown"}
                        Actions
                        %span.caret
                      %ul.dropdown-menu

                        %li
                          = link_to preview_manage_campaign_path(campaign) do
                            %i.fa.fa-eye
                            Preview

                        %li
                          = link_to test_manage_campaign_path(campaign) do
                            %i.fa.fa-heartbeat
                            Test

                        %li
                          = link_to deliver_manage_campaign_path(campaign), confirm: "ARE YOU SURE?" do
                            %i.fa.fa-paper-plane
                            Send

                    .btn-group
                      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown"}
                        Configuration
                        %span.caret
                      %ul.dropdown-menu
                        %li
                          = link_to manage_campaign_wizard_path(campaign, "setup") do
                            %i.fa.fa-edit
                            Setup

                        %li
                          = link_to manage_campaign_attachments_path(campaign) do
                            %i.fa.fa-paperclip
                            Attachments

                        %li
                          = link_to manage_campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" } do
                            %i.fa.fa-times
                            Remove











