.row.wrapper.white-bg.page-heading
  .col-sm-4
    %h2 Campaign #{@campaign.name}
    %ol.breadcrumb
      %li
        %a{:href => manage_campaigns_path} Campaigns
      %li.active
        %strong= @campaign.name
.row
  .col-lg-9
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-content
          .row
            .col-lg-12
              .m-b-md
                .pull-right
                  %a.btn.btn-white.btn-xs{:href => manage_campaign_wizard_path(@campaign, "setup")}
                    %i.fa.fa-cog
                    Configure

                  %a.btn.btn-info.btn-xs{:href => preview_manage_campaign_path(@campaign), target: :blank}
                    %i.fa.fa-eye
                    Preview

                %h2= @campaign.name
              %dl.dl-horizontal
                %dt Status:
                %dd
                  %span.label.label-primary= @campaign.state
          .row
            .col-lg-5
              %dl.dl-horizontal
                %dt Deliveries:
                %dd= @campaign.metrics.deliveries.size
                %dt Clicks:
                %dd= @campaign.metrics.clicks.size
                %dt Opens:
                %dd= @campaign.metrics.opens.size
            #cluster_info.col-lg-7
              %dl.dl-horizontal
                %dt Last Updated:
                %dd= l @campaign.updated_at, format: :long
                %dt Created:
                %dd= l @campaign.created_at, format: :long
                %dt Mail list:
                %dd.project-people
                  = link_to @campaign.list.name, manage_list_path(@campaign.list.name)

          .row
            .col-lg-12
              %dl.dl-horizontal
                %dt Completed:
                %dd
                  .progress.progress-striped.active.m-b-sm
                    .progress-bar{:style => "width: #{@campaign.delivery_progress}%;"}
                  %small
                    Deliveries completed in
                    %strong "#{@campaign.delivery_progress}%"
          .row.m-t-sm
            .col-lg-12
              .panel.blank-panel
                .panel-heading
                  .panel-options

                    %h3 Last activity

                .panel-body

                  %table.table.table-striped
                    %thead
                      %tr
                        %th Status
                        %th Who
                        %th When
                        %th Info
                    %tbody

                      - @metrics.each do |m|
                        %tr
                          %td
                            %span.label{class: "label-#{m.style_class}"}
                              %i.fa.fa-check
                              = m.action
                          %td
                            = m.trackable.try(:name)
                            = m.trackable.try(:last_name)
                            .small
                              = m.trackable.try(:email)
                          %td
                            = l m.created_at, format: :long
                          %td
                            %p.small
                              = m.host
                              = m.data
                  .clearfix
                  = paginate @metrics

  .col-lg-3
    .wrapper.wrapper-content.project-manager
      %h4 Campaign description

      %img.img-responsive{:src => @campaign.logo}/
      %hr

      %p.small
        = @campaign.try(:description)
