.row.wrapper.white-bg.page-heading
  .col-sm-4
    %h2 Campaign #{@campaign.name}
    %ol.breadcrumb
      %li
        %a{:href => manage_campaigns_path} Campaigns
      %li.active
        %strong= @campaign.name
.row
  .col-lg-9
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-content
          .row
            .col-lg-12
              .m-b-md
                .pull-right

                  = render "actions", campaign: @campaign

                  = render "config_actions", campaign: @campaign

                %h2= @campaign.name
              -#
                %dl.dl-horizontal
                  %dt Status:
                  %dd
                    %span.label.label-primary= @campaign.state
          .row
            .col-lg-5
              %dl.dl-horizontal
                %dt Deliveries:
                %dd= @campaign.metrics.deliveries.size
                %dt Clicks:
                %dd= @campaign.metrics.clicks.size
                %dt Opens:
                %dd= @campaign.metrics.opens.size

                %dt Bounces:
                %dd= @campaign.metrics.bounces.size
                %dt Spams:
                %dd= @campaign.metrics.spams.size

            #cluster_info.col-lg-7
              %dl.dl-horizontal
                %dt Last Updated:
                %dd= l @campaign.updated_at, format: :long
                %dt Created:
                %dd= l @campaign.created_at, format: :long
                %dt Mail list:
                %dd.project-people
                  = link_to @campaign.list.name, manage_list_path(@campaign.list)

          .row
            .col-lg-12
              %dl.dl-horizontal
                %dt Completed:
                %dd

                  .progress.active.m-b-sm
                    .progress-bar{:style => "width: #{@campaign.delivery_progress}%;"}
                  %small
                    Deliveries completed in
                    %strong=number_to_percentage(@campaign.delivery_progress, precision: 0)
          .row.m-t-sm
            .col-lg-12
              .panel.blank-panel
                .panel-heading
                  .panel-options

                    %h3 Last activity

                .panel-body

                  .row.m-b-sm.m-t-sm
                    .col-md-1
                      %button#loading-example-btn.btn.btn-white.btn-sm{:type => "button"}
                        %i.fa.fa-refresh
                        Refresh

                    .col-md-11
                      .input-group
                        %input.input-sm.form-control{:placeholder => "Search", :type => "text"}/
                        %span.input-group-btn
                          %button.btn.btn-sm.btn-primary{:type => "button"} Go!

                  %table.table.table-striped.table-condensed.table-nowrap
                    %thead
                      %tr
                        %th Status
                        %th Who
                        %th When
                        %th Host
                        %th Data
                    %tbody

                      - @metrics.each do |m|
                        %tr
                          %td
                            %span.label{class: "label-#{metric_action_class(m)}"}
                              %i.fa{class: "fa-#{metric_icon_action_class(m)}"}
                              = m.action
                          %td
                            = m.trackable.try(:name)
                            = m.trackable.try(:last_name)
                            .small
                              = m.trackable.try(:email)
                          %td
                            = l m.created_at, format: :long
                          %td
                            %p.small
                              = m.host
                          %td
                            %abbr.small{title: m.data}
                              = truncate m.data, :length   => 30,:separator => /\w/, :omission => "..."

                  .clearfix
                  = paginate @metrics

  .col-lg-3
    .wrapper.wrapper-content.project-manager
      %h4 Campaign description

      %img.img-responsive{:src => @campaign.logo}/
      %hr

      %p.small
        = @campaign.try(:description)
