.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    %h2 Campaign #{@campaign.name}
    %ol.breadcrumb
      %li
        %a{:href => manage_campaigns_path} Campaigns
      %li.active
        %strong= @campaign.name
.row
  .col-lg-9
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-content
          .row
            .col-lg-12
              .m-b-md
                .pull-right
                  %a.btn.btn-white.btn-xs{:href => manage_campaign_wizard_path(@campaign, "setup")}
                    %i.fa.fa-edit
                    Edit project

                  %a.btn.btn-info.btn-xs{:href => preview_manage_campaign_path(@campaign), target: :blank}
                    %i.fa.fa-eye
                    Preview

                %h2= @campaign.name
              %dl.dl-horizontal
                %dt Status:
                %dd
                  %span.label.label-primary= @campaign.state
          .row
            .col-lg-5
              %dl.dl-horizontal
                -#%dt Created by:
                -#%dd Alex Smith
                %dt Deliveries:
                %dd= @campaign.metrics.deliveries.size
                %dt Clicks:
                %dd= @campaign.metrics.clicks.size
                %dt Opens:
                %dd= @campaign.metrics.clicks.size
                -#%dt Client:
                -#%dd
                -#  %a.text-navy{:href => "#"} Zender Company
                -#%dt Version:
                -#%dd v1.4.2
            #cluster_info.col-lg-7
              %dl.dl-horizontal
                %dt Last Updated:
                %dd= l @campaign.updated_at, format: :long
                %dt Created:
                %dd= l @campaign.created_at, format: :long
                %dt Mail list:
                %dd.project-people
                  = link_to @campaign.list.name, manage_list_path(@campaign.list.name)

          .row
            .col-lg-12
              %dl.dl-horizontal
                %dt Completed:
                %dd
                  .progress.progress-striped.active.m-b-sm
                    .progress-bar{:style => "width: #{@campaign.delivery_progress}%;"}
                  %small
                    Deliveries completed in
                    %strong "#{@campaign.delivery_progress}%"
          .row.m-t-sm
            .col-lg-12
              .panel.blank-panel
                .panel-heading
                  .panel-options

                    %h3 Last activity

                .panel-body

                  %table.table.table-striped
                    %thead
                      %tr
                        %th Status
                        %th Who
                        %th When
                        %th Info
                    %tbody
                      -#
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Completed
                          %td
                            Create project in webapp
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Accepted
                          %td
                            Various versions
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Sent
                          %td
                            There are many variations
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Reported
                          %td
                            Latin words
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              Latin words, combined with a handful of model sentence structures
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Accepted
                          %td
                            The generated Lorem
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Sent
                          %td
                            The first line
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Reported
                          %td
                            The standard chunk
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Completed
                          %td
                            Lorem Ipsum is that
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                        %tr
                          %td
                            %span.label.label-primary
                              %i.fa.fa-check
                              Sent
                          %td
                            Contrary to popular
                          %td
                            12.07.2014 10:10:1
                          %td
                            14.07.2014 10:16:36
                          %td
                            %p.small
                              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                    - @campaign.metrics.each do |m|
                      %tr
                        %td
                          %span.label{class: m.style_class}
                            %i.fa.fa-check
                            = m.action
                        %td
                          = m.trackable.try(:name)
                        %td
                          = m.created_at
                        %td
                          %p.small
                            = m.host
                            = m.data

  .col-lg-3
    .wrapper.wrapper-content.project-manager
      %h4 Campaign description

      %img.img-responsive{:src => @campaign.logo}/
      %hr

      %p.small
        = @campaign.try(:description)
