
.page-header
  %h3= @campaign.name


.row.row-cards

  .col-lg-6.col-xl-4
    .card
      .card-header

        .card-title
          = @campaign.subject

      .card-body{style: "min-height: 349px;"}

        %img.img-responsive{:src => @campaign.logo}/

        .small.text-muted
          %br
          = @campaign.try(:description)
        %hr


        %dl.dl-horizontal
          %dt Last Updated:
          %dd= l @campaign.updated_at, format: :long
          %dt Created:
          %dd= l @campaign.created_at, format: :long
          %dt Mail list:
          %dd.project-people
            = link_to @campaign.list.name, manage_list_path(@campaign.list)

  .col-lg-6.col-xl-8
    .card
      .card-header
        .card-options
          = render "chaskiq/manage/campaigns/actions", campaign: @campaign

          = render "chaskiq/manage/campaigns/config_actions", campaign: @campaign
      .card-body

        .col-lg-5
          = pie_chart @campaign.metrics.group(:action).count, height: "300px", donut: true, legend: "bottom"
         

        .col-lg-7  
          .row 
            .col-lg-12   
              %dl.dl-horizontal
                %dt Completed:
                %dd
                  .progress.active.m-b-sm
                    .progress-bar.progress-bar-custom{:style => "width: #{@campaign.delivery_progress}%;"}

              %small
                Deliveries completed in
                %strong
                  =number_to_percentage(@campaign.delivery_progress, precision: 0)

            .col-lg-12
              %hr

            .col-lg-12
              .small.text-muted
                Last 2 weeks activity:
              %span.bar_dashboard.pull-right
                = @campaign.sparklines_by_day().join(", ")




.card
  .card-header
    .card-title
      Last activity

    .card-options
      = search_form_for @q, url: manage_campaign_metrics_path(@campaign) do |f|
        = f.search_field :subscription_state_or_subscription_subscriber_email_or_subscription_subscriber_name_or_subscription_subscriber_last_name_or_host_or_data_cont, class: "input-sm form-control", placeholder: "Search by columns"

  .card-body

    .table-responsive

      %table.table.card-table.table-vcenter.text-nowrap
        %thead
          %tr
            %th Status
            %th Who
            %th When
            %th Host
            %th Data
        %tbody
          = render partial: "chaskiq/manage/metrics/metric", collection: @metrics , as: :metric


= paginate @metrics


= content_for :javascript do
  :javascript
    $(".bar_dashboard").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"],
        width: "100%",
        height: "127px"
    })
